
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual environments
.venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints/

# MATLAB
*~ 
*.asv
*.mex*
*.mdl
*.slx

# macOS / Windows
.DS_Store
Thumbs.db

#.vscode/
